.reviews {
  background-color: #10c9c3; }

.slider__slide blockquote {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0 auto; }

.slider__slide cite {
  font-size: 12px;
  margin-top: 40px; }

.slider {
  margin: 25px;
  position: relative;
  overflow: hidden;
  padding-top: 190px;
  padding-bottom: 170px; }

.slider__arrow {
  position: absolute;
  top: 50%;
  margin: -10px;
  z-index: 1;
  outline: none; }

.slider__arrow::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: solid #b0e8e6;
  border-width: 2px 2px 0 0; }

.slider__arrow:hover::before,
.slider__arrow:focus::before {
  border-color: rgba(176, 232, 230, 0.6); }

.slider__arrow_left {
  left: 50px;
  transform: rotate(-135deg); }

.slider__arrow_right {
  right: 50px;
  transform: rotate(45deg); }

.slider__slide {
  display: none;
  max-width: 100%;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase; }

.slider__slide_active {
  display: block; }

.slider__dots {
  position: absolute;
  left: 50%;
  bottom: 80px;
  transform: translateX(-50%);
  z-index: 1; }

.slider__dot {
  display: inline-block;
  margin: 0 10px;
  width: 5px;
  height: 5px;
  border: 2px solid #b0e8e6;
  border-radius: 50%;
  outline: none;
  background-color: #b0e8e6s; }

.slider__dot:hover,
.slider__dot:focus {
  border-color: rgba(176, 232, 230, 0.6);
  background-color: rgba(176, 232, 230, 0.6); }

.slider__dot_active {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  width: 10px;
  height: 10px; }

.slider__dot_active:hover,
.slider__dot_active:focus {
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.6); }
